body{
    border: 2px dashed #222;
    margin: 30px;
    padding: 30px 50px;
    font-family: sans-serif;
}
hr{
    color: #eee;
}
h1{
    padding: 30px;
    color: #fff;
    font-size: 2.5em;
    background-color: #63a8bc;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    box-shadow: 2px 2px 4px #888;

}
h3{
    width: 120px;
    padding: 2px 20px;
    transform: skew(-20deg);
    box-shadow: 2px 2px 2px #999;
    background-color: #63a8bc;
}
img{
    width: 50px;
}
#exo3, #exo4, #exo6, form{
    width: 300px;
    height: 220px;
    padding: 0 20px;
    border: 2px solid #222;
}
button{
    margin-top: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
}
button:hover{
    filter: brightness(80%);
}
#btn1, #btn4{
    color: #023317;
    background-color: #00bc09;
}
#btn2, #btn5{
    color: #141551;
    background-color: #63a8bc;
}
#btn3, #btn6{
    color: #4a0005;
    background-color: #ff0b2e;
}
input{
    display: block;
    margin: 10px auto;
}
